<!DOCTYPE html>
<html>

<head>
    <title>SPD3303C Streaming</title>
    <!-- <scriptV src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/hammerjs@2.0.8"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@0.7.7"></script>
    <script src="/public/chart_helpers.js"></script>
</head>

<body>
    <div>
        <h1>SPD3303C</h1>
    </div>
    <canvas id="myChart" width="400" height="100"></canvas>
</body>


<script>
    window.onload = function () {
        var powerSupplyChart = new PowerSupplyChart();
        powerSupplyChart.ctx = document.getElementById('myChart').getContext('2d');
        powerSupplyChart.Bind()
    };

</script>

</html>
