<!DOCTYPE html>
<html>

<head>
    <title>SPD3303C Streaming</title>
    <!-- <scriptV src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js">
</script>
</head>

<body>
    <div>
        <h1>SPD3303C</h1>
    </div>
    <canvas id="myChart" width="400" height="100"></canvas>
</body>

<script>
    'use strict';

    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };
</script>

<script>
    function newDate(days) {
        return moment().add(days, 'd').toDate();
    }

    function newDateString(days) {
        return moment().add(days, 'd').format();
    }

    var color = Chart.helpers.color;
    var config = {
        type: 'line',
        data: {
            datasets: [{
                label: 'Voltage',
                backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
                borderColor: window.chartColors.red,
                fill: false,
                data: [],
            }, {
                label: 'Current',
                backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
                borderColor: window.chartColors.blue,
                fill: false,
                data: []
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Power Supply'
            },
            scales: {
                xAxes: [{
                    type: 'time',
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Date'
                    },
                    ticks: {
                        major: {
                            fontStyle: 'bold',
                            fontColor: '#FF0000'
                        },
                        time: {
                            unit: "second"
                        }
                    }
                }],
                yAxes: [{
                    display: true,
                    position: 'left',
                    scaleLabel: {
                        display: true,
                        labelString: 'Voltage (V)'
                    }
                },
                {
                    display: true,
                    position: 'right',
                    scaleLabel: {
                        display: true,
                        labelString: 'Current (A)'
                    },
                    ticks: {
                        suggestedMax: 0.2
                    }
                }]
            }
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, config);

        const ws = new WebSocket("ws://192.168.1.51:8000/ws");
        let x = 0;
        ws.onmessage = function (event) {
            const measurement = JSON.parse(event.data);
            x += 1;

            var time = new Date()
            chart.data.datasets[0].data.push({
                x: time,
                y: measurement.voltage
            })
            chart.data.datasets[1].data.push({
                x: time,
                y: measurement.current
            })
            chart.update();
        };
    };


</script>

</html>
